<nav class="navbar navbar-expand-md navbar-light bg-white border-bottom">
  <div class="container-fluid">
    <!-- Left: logo + Explore (desktop) -->
    <div class="d-flex align-items-center">
      <a class="navbar-brand me-3" href="/listening">
        <i class="fa-regular fa-compass"></i>
      </a>
      <!-- Explore left only on md+ -->
      <a class="nav-link d-none d-md-inline" href="/listening">Explore</a>
    </div>

    <!-- Toggler (3 lines) -->
    <button class="navbar-toggler" type="button"
            data-bs-toggle="collapse" data-bs-target="#mainNav"
            aria-controls="mainNav" aria-expanded="false"
            aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Collapsible content -->
    <div class="collapse navbar-collapse" id="mainNav">
      <!-- Center search -->
      <form action="/listening" method="get" class="navbar-search d-flex mx-auto my-2 my-md-0" role="search">
        <input class="form-control me-2 search-inp"
               type="search"
               name="location"
               placeholder="Search destination"
               aria-label="Search" />
        <button class="btn btn-search" type="submit">
          <i class="fa-solid fa-magnifying-glass"></i>
          <span class="d-none d-md-inline">Search</span>
        </button>
      </form>

      <!-- Right links (including Explore for mobile) -->
      <div class="navbar-nav nav-right ms-md-3">
        <!-- Explore only on mobile dropdown -->
        <a class="nav-link d-md-none" href="/listening">Explore</a>

        <a class="nav-link" href="/listening/new">airbnb your home</a>
        <% if (!currUser) { %>
          <a class="nav-link" href="/signup"><b>signUp</b></a>
          <a class="nav-link" href="/login"><b>Login</b></a>
        <% } else { %>
          <a class="nav-link" href="/logout">logOut</a>
        <% } %>
      </div>
    </div>
  </div>
</nav>
